<div class="user-details">
  <h1>Team Projects</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Android</h2>
      <div class="Android-icon"">
       <a aria-label="Android" href="ftp://plmh.synology.me/Samsung/"><i class="icon fab fa-android fa-3x"></i></a>
      </div>
    <p>Continues Samsung Custom Build...</p>
  </div>
  <div class="tech">
    <h2>Wifi Router</h2>
       <a aria-label="Wifi" href="https://www.right.com.cn/forum/forum.php?mod=viewthread&tid=2988960&page=1&extra=#pid7521401"><i class="icon fas fa-wifi fa-3x"></i></a>
    <p>Custom Build with minmum package support CPU FREQ，TURBO ACC，IPV6....</p>
  </div>
    <div class="tech">
    <h2>Host</h2>
       <a aria-label="Host" href="https://github.com/neodevpro/neodevhost"><i class="icon far fa-hand-paper fa-3x"></i></a> 
    <p>The Powerful Friendly Uptodate AD Blocking Hosts....</p>
  </div>
</div>
